body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
    background-repeat:no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
}
/* header */
header{
    background-color: rgb(160, 160, 160);
    width: 98.7vw;
    height: 24%;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
}
p{
  color: grey;
}
#smallpic{
  height: 90%;
  width: 10% ;
  border-radius: 75%;
  margin-left: 5ch;
  margin-top: 0.5%;
  float: left;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* Add flexbox to the navigation menu */
    justify-content: space-between; /* Distribute menu items evenly */
    align-items: center; /* Vertically center the menu items */
}

header li {
    display: inline-block; /* Change li elements to inline-block */
    width: 100%;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; /* Increase font size */
}
header li a:hover {
  background-color:rgb(0, 0, 0) /* whitesmoke color */
}
#heading{
  font-size: 24px;
}
#first{
    margin-top: 10px;
}


#content{
    text-align: center;
    margin-top: 10%;
    display: flex;
    align-items: center;
}
#midpic{
    height: 35%;
    width: 40%;
    padding-left: 7%;
}
#content img,
    #container p {
      display: block;
      margin: 0 auto;
}


#midpic{
  padding-bottom: 50px;
}
/*footer css*/

.footer {
    background-color: #333;
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 110%;
    width: 100%;
    left: 0;
    height: 32%;
    margin-top: 50px;
  }
  .details {
    margin-left: 5%;
    display: block;
    align-items: center;
  }
  
  .details p {
    margin: 0 10px 0 0;
    display: block;
  }
  
  .socials {
    display: block;
    align-items: center;
  }
  
  .socials a {
    color: #fff;
    margin: 0 10px;
  }
  a img{
    height: 20px;
    width:20px
  }